@charset "UTF-8";
#calendar_tool_bar {
		position: relative;
	    min-height: 38px;
	    padding: 0 0 8px 0;
		margin: 16px 0 0 0;
		display: block;
	}
	.current_date{
		height: 40px;
		text-align: center;
		margin: 0 160px;
	}
	#baseDate {
		font-size: 24px;
		vertical-align: top;
    	display: inline-block;
    	margin-top: 0px;
    	margin: 0px 8px 0;
	}
	.btn_border{
		vertical-align: bottom;
		display: inline-block;
	    padding: 8px 12px;
	    cursor: pointer;
	    text-align: center;
	}
	.wrap_statistics{
		padding: 0;
		margin: 0 24px;
		min-width: 940px;
	}
	.tool_bar {
		position: relative;
	    min-height: 38px;
	    padding: 0 0 8px 0;
	    margin: 0;
	}
	.critical {
		margin: 5px 0 0;
		float: left;
		padding: 0;
	}
	.info_group {
		font-size: 14px;
	}
	.optional {
		margin: 5px 0 0;
		float: right;
    	position: inherit;
    	padding: 0;
	}
	.wrap_ehr_data {
	    padding: 0 20px;
	    background: #fff;
	    border: 1px solid #dcdcdc;
	    margin-bottom: 40px;
	}
	.ehr_stat_data {
	    display: inline-block;
	    padding: 20px 0;
	    width: 15%;
	    max-width: 220px;
	    vertical-align: top;
	}
	.wrap_ehr_data .ehr_stat_data p.stat_tit {
	    text-align: center;
	}
	p, input {
	    margin: 0;
	    padding: 0;
	}
	dl, font, p, ol {
	    line-height: 150%;
	}
	p.stat_tit {
	    display: block;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	}
	.wrap_ehr_data .ehr_stat_data p.stat_txt {
	    margin-top: 8px;
	    font-size: 25px;
	    text-align: center;
	    color: #263a6f;
	    letter-spacing: -1px;
	}
	.divide_bar {
	    display: inline-block;
	    margin: 24px 8px;
	    width: 1px;
	    height: 110px;
	    background: #eaeaea;
	    vertical-align: middle;
	}
	.wrap_tb_box {
	    margin: 25px 0 0;
	    min-width: 940px;
	}
	section.wrap_tb_tit {
	    padding-bottom: 6px;
	    padding-left: 24px;
	    min-height: 32px;
	    border-bottom: 1px solid #e1e1e1;
	}
	article, aside, figure, footer, header, hgroup, nav, section {
	    display: block;
	}
	h2.table_tit {
	    height: 35px;
	    font-size: 16px;
	    line-height: 35px;
	    font-weight: bold;
	    font-weight: 500;
	    float: left;
	    margin: 0;
    	padding: 0;
	}
	h2.table_tit .btn_wrap {
	    margin-right: 8px;
	    vertical-align: top;
	}
	span.btn_wrap, a.btn_wrap {
	    cursor: pointer;
	    display: inline-block;
	}
	.tb_optional {
	    float: right;
	    vertical-align: top;
	    line-height: 34px;
	    min-width: 330px;
	    padding-right: 24px;
	    text-align: right;
	}
	.wrap_tb_shadow {
	    margin-top: -1px;
	    border: 1px solid #dcdcdc;
	    border-left: none;
	    border-right: none;
	    display: block;
	}
	.tb_attend_header {
	    height: 50px;
	    display: table;
	    width: 100%;
	    background: #fff;
	    color: #333;
	}
	.tb_attend_header .tb_content.date {
	    width: 140px;
	    text-align: center;
	}
	.tb_attend_header .tb_content {
	    padding: 0 15px;
	    height: 32px;
	    border-bottom: 1px solid #eee;
	    font-weight: 500;
	}
	.tb_attend_header .tb_content, .tb_attend_body .tb_content {
	    display: table-cell;
	    vertical-align: middle;
	    font-size: 13px;
	    box-sizing: border-box;
	    letter-spacing: -1px;
	}
	.tb_attend_header .tb_content.attend, .tb_attend_body .tb_content.attend {
	    width: 140px;
	}
	.tb_attend_body {
	    height: 45px;
	    display: table;
	    width: 100%;
	    background: #fff;
	    color: #333;
	}
	.tb_attend_body .tb_attend_list {
	    display: table;
	    width: 100%;
	    position: relative;
	}
	.tb_attend_body .tb_attend_list div:first-child {
	    border-left: 1px solid #fff;
	}
	.tb_attend_body .tb_content.date_l {
	    padding-right: 5px;
	    width: 60px;
	    text-align: right;
	    font-weight: 500;
	}
	.tb_attend_body .tb_attend_list div {
	    border-top: 1px solid #fff;
	    border-right: 0;
    }
    .tb_attend_body .tb_content {
	    min-height: 50px;
	    vertical-align: top;
	}
	.tb_attend_header .tb_content, .tb_attend_body .tb_content {
	    display: table-cell;
	    padding: 14px 15px;
	    font-size: 13px;
	    box-sizing: border-box;
	    letter-spacing: -1px;
	}
	.tb_attend_body .tb_content.date_l span.txt {
	    padding-top: 1px;
	    width: 20px;
	    height: 20px;
	    border-radius: 20px;
	    text-align: center;
	    box-sizing: border-box;
	}
	.tb_attend_body .tb_content.date_r {
	    padding-left: 5px;
	    width: 80px;
	    text-align: left;
	}
	.tb_attend_header .tb_content.attend, .tb_attend_body .tb_content.attend {
	    width: 140px;
	}
	span.txt {
	    display: inline-block;
	}
	.tb_attend_header .tb_content.leave, .tb_attend_body .tb_content.leave {
	    width: 150px;
	}
	.tb_attend_body .tb_content.total_time {
	    font-weight: 500;
	}
	.tb_attend_header .tb_content.total_time, .tb_attend_body .tb_content.total_time {
	    width: 150px;
	}
	.tb_attend_body .tb_content.status, .tb_attend_header .tb_content.status {
	    width: 320px;
	}
	.tb_attend_header .tb_content.status, .tb_attend_body .tb_content.status, .tb_attend_header .tb_content.approval_list, .tb_attend_body .tb_content.approval_list {
	    text-align: left;
	}
	.tb_attend_body .tb_attend_list div:last-child {
	    border-right: 1px solid #fff;
	}
	.wrap_tb_box .day_sat .date_l .txt, .wrap_tb_box .day_sat .date_r .txt, .wrap_tb_box th.days.day_sat .title_sort {
	    color: #888;
	}
	.wrap_tb_box .late, .wrap_tb_box .day_sun .date_l .txt, .wrap_tb_box .day_sun .date_r .txt, .wrap_tb_box .day_holiday .date_l .txt, .wrap_tb_box .day_holiday .date_r .txt, .wrap_tb_box th.days.day_sun .title_sort, .wrap_tb_box th.days.day_holiday .title_sort {
	    color: #f07f7f;
	}
	.tb_optional .txt {
	    font-size: 14px;
	    font-weight: 500;
	}
	.tb_optional .desc {
	    font-size: 13px;
	    vertical-align: middle;
	    line-height: 1.5;
    	margin: 0;
    	color: #999;
	}
	.tb_attend_body .tb_attend_list.today .date_l span.txt {
	    background: #00a1b9;
	    border-radius: 20px;
	    color: #fff;
	}
	.tb_attend_detail2 {
	    padding: 16px 8px 8px 40px;
	    border-color: #00A1B9;
	    border-style: solid;
	    border-width: 0 1px 1px 1px;
	    box-shadow: 0 10px 15px -10px rgb(0 0 0 / 30%);
	    border-radius: 0 0 4px 4px;
	    background: #fff;
	}
	.tb_attend_detail2 .tb_div {
	    display: table;
	    width: 100%;
	}
	.tb_attend_detail2 .tb_cell {
	    display: table-cell;
	    line-height: 1.3;
	}
	.tb_attend_detail2 .tb_head .workinghours .time {
	    color: #333;
	    font-weight: bold;
	}
	.tb_attend_detail2 .tb_head .time {
	    display: block;
	    margin-bottom: 10px;
	    font-size: 12px;
	    color: #888;
	}
	.tb_attend_detail2 .wrap_timeline {
	    position: relative;
	}
	.tb_attend_detail2 .time_data {
	    position: absolute;
	    top: 0;
	    width: 100%;
	    background: transparent;
	}
	.tb_attend_detail2 .total_time {
	    width: 100%;
	}
	.tb_attend_detail2 .tb_row {
	    display: table-row;
	    position: relative;
	    height: 32px;
	}
	.tb_attend_detail2 .progress.start.close.initial {
	    max-width: 60px;
	    min-width: 52px;
	}
	.tb_attend_detail2 .progress.start.initial {
	    z-index: 2;
	}
	.tb_attend_detail2 .close {
	    padding-right: 6px;
	    border-top-right-radius: 10px;
	    border-bottom-right-radius: 10px;
	}
	.tb_attend_detail2 .start {
	    border-top-left-radius: 10px;
	    border-bottom-left-radius: 10px;
	}
	.tb_attend_detail2 .part_overtime {
	    background: #7cdec0;
	    border: none;
	}
	.tb_attend_detail2 .progress {
	    position: absolute;
	    padding-left: 6px;
	    height: 21px;
	    box-sizing: border-box;
	}
	.tb_attend_detail2 .progress.start.close span.txt {
	    width: 48%;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    font-weight: 100;
	}
	.tb_attend_detail2 .total_time .txt {
	    font-size: 13px;
	    color: #fff;
	}
	span.txt {
	    display: inline-block;
	}
	.tb_attend_detail2 .total_time {
	    width: 100%;
	}
	.tb_attend_detail2 .tb_row {
	    display: table-row;
	    position: relative;
	    height: 32px;
	}
	.tb_attend_detail2 .tb_row {
	    display: table-row;
	    position: relative;
	    height: 32px;
	}
	.tb_attend_detail2 .tb_cell .tb_div {
	    height: 100%;
	}
	.tb_attend_detail2 .tb_div {
	    display: table;
	    width: 100%;
	}
	.tb_attend_detail2 .coretime_s {
	    border-left: 1px dashed red;
	}
	.tb_attend_detail2 .tb_bg {
	    position: relative;
	}
	.tb_attend_detail2 .tb_bg .tb_cell.workinghours {
	    border-right: 1px solid #e9e9e9;
	}
	.tb_attend_detail2 .tb_bg .tb_cell > .tb_div {
	    min-height: 72px;
	}
	.tb_attend_detail2 .tb_cell .min {
	    display: table-cell;
	    min-width: 4px;
	    box-sizing: border-box;
	}
	.tb_attend_detail2 .coretime_s {
	    border-left: 1px dashed red;
	}
	.tb_attend_detail2 .tb_cell .break {
	    background: repeating-linear-gradient(180deg, rgba(51, 50, 50, 0.1), rgba(50, 50, 50, 0.1) 1px, transparent 0, transparent 2px);
	}
	.tb_attend_detail2 .tb_cell {
	    display: table-cell;
	    line-height: 1.3;
	}
	div.min:hover {
		background-color:#f3f3f3;
	}
	.min.break:hover {
		background-color:#f3f3f3;
	}
	.tb_attend_detail2 .tb_bg .tb_cell {
	    height: 100%;
	    border-right: 1px dashed #e9e9e9;
	}
	div.tb_attend_list:hover {
		background-color:#f9f9f9;
		cursor:pointer;
	}
	.tb_attend_body .tb_attend_list.tb_attend_select {
	    border-top: 1px solid #00a1b9;
	    border-right: 0;
	    border-left: 0;
	}
	.tb_attend_body .tb_attend_list.tb_attend_select {
	    margin-top: -1px;
	    box-sizing: border-box;
	}
	.date:hover{
		cursor:pointer;
	}
	.btn_tool:hover{
		cursor:pointer;
	}